@import "../../../assets/variables.scss";

.moving-block-wrapper {
    width: 100%;
    height: 100%;
}

.moving-block-container {
    width: 50%;
    height: 50%;
    border-radius: 40px;

    &:hover {
        width: 80%;
        height: 80%;

        background-color: $off-white;

        z-index: 1;
    }

    box-shadow: 1px -1px 72px -19px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 1px -1px 72px -19px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 1px -1px 72px -19px rgba(0, 0, 0, 0.76);
}
