<div class="moving-blocks-container" fxLayout="column" fxLayoutAlign="start center">
    <app-moving-block></app-moving-block>
    <app-moving-block></app-moving-block>
    <app-moving-block></app-moving-block>
    <app-moving-block></app-moving-block>
    <app-moving-block></app-moving-block>
    <app-moving-block></app-moving-block>
    <app-moving-block></app-moving-block>
    <app-moving-block></app-moving-block>
    <app-moving-block></app-moving-block>
</div>

<app-floating-info></app-floating-info>