@import "../../../assets/variables.scss";

app-floating-info {
    position: fixed;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);

    width: 75%;
    height: 25%;
}

.moving-blocks-container {
    app-moving-block:nth-child(even) {
        background-color: $light-gray;
    }

    app-moving-block {
        height: 100vh;
        width: 100vw;
    }
}
