<div class="floating-container hover-effect enlarge shadow-color" fxLayout="column" fxLayoutAlign="start center">
    <div class="floating-background hover-effect shadow-color"></div>
    <div class="floating-inner" fxLayout="column" fxLayoutAlign="space-between center">
        <div>Abraham Hidy</div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
            <button>GitHub</button>
            <button>LinkedIn</button>
            <button>Resume</button>
        </div>
    </div>
</div>
